
  <% flash.each do |key, value| %>
        <div class="alert alert-<%= key %>"><%= value %></div>
 <% end %>
    <%= yield %>
    </div>
</div>
<% if notice %>
  <p class="alert alert-success"><%= notice %></p>
<% end %>
<% if alert %>
  <p class="alert alert-danger"><%= alert %></p>
<% end %>
